<div class="col px-3 py-2">

    <div class="card shadow rounded" style="width: 18rem;">
        <img [src]="estado.img" class="card-img-top" [alt]="estado.nombre">
        <div class="card-body">
            <h5 class="card-title">{{ estado.nombre }}</h5>
            <p class="card-text">{{ estado.descripcion }}</p>

            <button (click)="verEstado()" type="button" class="btn btn-outline-primary btn-block"> 
                Ver más
            </button>

        </div>
    </div>


</div>